.u-color--black,
.u-color--black a {
  color: var(--color-black);
}

.u-color--gray,
.u-color--gray a {
  color: var(--color-gray);
}

.u-color--gray--light,
.u-color--gray--light a {
  color: var(--color-light-gray);
}

.u-color--primary,
.u-color--primary a {
  color: var(--color-primary);
}

.u-color--secondary,
.u-color--secondary a {
  color: var(--color-secondary);
}

.u-color--tertiary,
.u-color--tertiary a {
  color: var(--color-tertiary);
}

.u-color--quaternary,
.u-color--quaternary a {
  color: var(--color-quaternary);
}

.u-color--quinary,
.u-color--quinary a {
  color: var(--color-quinary);
}

.u-color--septary,
.u-color--septary a {
  color: var(--color-septary);
}

// Background Colors

.u-background-color--none {
  background: none;
}

.u-background-color--black {
  background-color: var(--color-black);
}

.u-background-color--gray {
  background-color: var(--color-gray);
}

.u-background-color--gray--light {
  background-color: var(--color-light-gray);
}

.u-background-color--gray--dark {
  background-color: var(--color-dark-gray);
}

.u-background-color--white {
  background-color: var(--color-white);
}

.u-background-color--primary {
  background-color: var(--color-primary);
}

.u-background-color--secondary {
  background-color: var(--color-secondary);
}

.u-background-color--tertiary {
  background-color: var(--color-tertiary);
}

.u-background-color--quaternary {
  background-color: var(--color-quaternary);
}

.u-background-color--quinary {
  background-color: var(--color-quinary);
}

.u-background-color--septary {
  background-color: var(--color-septary);
}
