.form-element-styles {
  font-family: var(--forms-input-font-family);
  font-size: var(--forms-input-font-size);
  font-weight: var(--font-weight);
  line-height: calc(var(--forms-input-height) / 2);
  color: var(--forms-input-color);
  max-width: 100%;
}

input[type='text'],
input[type='email'],
input[type='number'],
input[type='password'],
select {
  display: block;
  @extend .form-element-styles;
  height: var(--forms-input-height);
  width: var(--forms-input-width);
  padding: var(--forms-input-padding);
  border: var(--forms-input-border);

  &::placeholder {
    @extend .form-element-styles;
  }

  &:focus {
    outline: var(--forms-input-outline-color);
    border: none;
    outline-offset: -1px;
  }
}

label {
  display: block;
  clear: both;
  font-weight: var(--font-weight);
}

legend {
  font-weight: var(--font-weight);
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: var(--font-weight);
}

[type=checkbox] + label,
[type=radio] + label {
  display: inline-block;
  vertical-align: baseline;
  margin-left: .5rem;
  margin-right: 1rem;
  margin-bottom: 0;
}

textarea {
  display: block;
  height: var(--forms-text-area-height);
  width: var(--forms-input-width);
  padding: var(--forms-input-padding);
  border: var(--forms-input-border);

  &::placeholder {
    @extend .form-element-styles;
  }
}

select option {
  @extend .form-element-styles;
}

select[multiple] {
  height: auto;
}

.input-group {
  display: flex;
  width: 100%;
  align-items: stretch;
}

// input range base styles

input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  background: transparent; /* Otherwise white in Chrome */
  width: 100%; /* Chrome needs this */
  margin-right: 1.5rem;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;

  // Hides the slider so custom styles can be added
  background: transparent;
  border-color: transparent;
  color: transparent;
}

// input range thumb

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: var(--color-black);
  cursor: pointer;
  margin-top: -6px; /* (thumb height/2 + track height/2) You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
}

input[type=range]::-moz-range-thumb {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: var(--color-black);
  cursor: pointer;
}

input[type=range]::-ms-thumb {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: var(--color-black);
  cursor: pointer;
}

// input range track

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: var(--color-black);
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: var(--color-black);
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: var(--color-black);
}

input[type=range]::-ms-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: var(--color-black);
}

input[type=range]:focus::-ms-fill-lower {
  background: var(--color-black);
}

input[type=range]::-ms-fill-upper {
  background: var(--color-black);
}

input[type=range]:focus::-ms-fill-upper {
  background: var(--color-black);
}
