.form-element-styles {
  font-family: var(--forms-input-font-family);
  font-size: var(--forms-input-font-size);
  font-weight: normal;
  line-height: calc(var(--forms-input-height) / 2);
  color: var(--forms-input-color);
  max-width: 100%;
}

input[type='text'],
input[type='email'],
input[type='number'],
input[type='password'],
select {
  display: block;
  @extend .form-element-styles;
  height: var(--forms-input-height);
  width: var(--forms-input-width);
  padding: var(--forms-input-padding);
  border: var(--forms-input-border);

  &::placeholder {
    @extend .form-element-styles;
  }

  &:focus {
    outline: var(--forms-input-outline-color);
    border: none;
    outline-offset: -1px;
  }
}

label {
  display: block;
  clear: both;
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

[type=checkbox] + label,
[type=radio] + label {
  display: inline-block;
  vertical-align: baseline;
  margin-left: .5rem;
  margin-right: 1rem;
  margin-bottom: 0;
}

textarea {
  display: block;
  height: var(--forms-text-area-height);
  width: var(--forms-input-width);
  padding: var(--forms-input-padding);
  border: var(--forms-input-border);

  &::placeholder {
    @extend .form-element-styles;
  }
}

select {
  option {
    @extend .form-element-styles;
  }
}

select[multiple] {
  height: auto;
}

// inline buttons
.input-group {
  display: flex;
  width: 100%;
  align-items: stretch;

  .button {
    height: var(--forms-input-height);
    line-height: var(--forms-input-height);
    padding: var(--forms-inline-button-padding);
  }
}
