.l-container {
  width: calc(100% - 1rem);
  margin: auto;

  @media all and (min-width: $medium) {
    max-width: var(--max-width);
  }
}

.l-grid {
  display: grid;
  grid-template-rows: auto;
  grid-gap: var(--grid-gutter);
}

.l-grid--large-gutters {
  @media all and (min-width: $medium) {
    grid-gap: var(--grid-gutter-large);
  }
}

.l-grid--no-gutters {
  grid-gap: 0;
}

.l-grid--2up {
  @media all and (min-width: $medium) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.l-grid--3up {
  @media all and (min-width: $medium) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.l-grid--4up {
  @media all and (min-width: $medium) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media all and (min-width: $medium) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.l-grid--5up {
  @media all and (min-width: $medium) {
    grid-template-columns: repeat(5, 1fr);
  }
}

.l-grid--2x3 {
    grid-template-columns: 1fr 2fr;
}

.l-grid--3x2 {
    grid-template-columns: 2fr 1fr;
}

.l-grid--1x4 {
  grid-template-columns: 1fr 3fr;
}

.l-grid--4x1 {
  grid-template-columns: 3fr 1fr;
}

.l-grid--3up--medium {
  @media all and (max-width: $large) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.l-grid--1up--small {
  @media all and (max-width: $medium) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.l-grid--2up--small {
  @media all and (max-width: $medium) {
    grid-template-columns: repeat(2, 1fr);
  }
}

// ordering

.l-grid--order-1-large {
  @media all and (min-width: $medium) {
    order: 1;
  }
}

.l-grid--order-2-large {
  @media all and (min-width: $medium) {
    order: 2;
  }
}

// alignment

.l-grid--top {
  align-items: flex-start;
}

.l-grid--middle {
  align-items: center;
}

.l-grid--bottom {
  align-items: flex-end;
}
