/* ------------------------------------*\
    $RESET
\*------------------------------------ */

/* Border-Box http:/paulirish.com/2012/box-sizing-border-box-ftw/ */
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

blockquote,
body,
div,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
iframe,
label,
legend,
li,
nav,
object,
ol,
p,
section,
table,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

article,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

address {
  font-style: normal;
}
