$sizes: (
  '': var(--space-3),
  --quarter: calc(var(--space-3) / 4),
  --half: calc(var(--space-3) / 2),
  --and-half: calc(var(--space-3) * 1.5),
  --double: calc(var(--space-3) * 2),
  --triple: calc(var(--space-3) * 3),
  --quad: calc(var(--space-3) * 4),
  --quin: calc(var(--space-3) * 5),
  --hex: calc(var(--space-3) * 6),
  --sept: calc(var(--space-3) * 7),
  --oct: calc(var(--space-3) * 8),
  --non: calc(var(--space-3) * 9),
  --dec: calc(var(--space-3) * 10),
  --zero: 0rem
);

/**
 * Default Spacing/Padding
 * Maintain a spacing system divisible by 8
 */
$space: 16px;
$space-quarter: calc($space/4); // 4
$space-half: calc($space/2); // 8
$space-and-half: calc($space * 1.5); // 24
$space-double: calc($space * 2); // 32
$space-double-half: calc($space * 2.5); // 40
$space-triple: calc($space * 3); // 48
$space-quad: calc($space * 4); // 64

$sides: (
  '': '',
  --top: '-top',
  --bottom: '-bottom',
  --left: '-left',
  --right: '-right'
);

@each $size_key, $size_value in $sizes {
  .u-spacing#{$size_key} > * + * {
    margin-top: #{$size_value};
  }

  @each $side_key, $side_value in $sides {
    .u-padding#{$size_key}#{$side_key} {
      padding#{$side_value}: #{$size_value};
    }

    .u-space#{$size_key}#{$side_key} {
      margin#{$side_value}: #{$size_value};
    }
  }
}
