@mixin typeface($type, $size) {
  font-family: var(--font-family-#{$type});
  letter-spacing: var(--letter-spacing-#{$type});
  font-weight: var(--font-weight-#{$type});
  line-height: var(--line-height-#{$size});
  font-size: var(--font-size-#{$size});
}

// Text Transforms

.u-text-transform--upper {
  text-transform: uppercase;
}

.u-text-transform--lower {
  text-transform: lowercase;
}

.u-text-transform--capitalize {
  text-transform: capitalize;
}

// Text Styles

.u-text-style--italic {
  font-style: italic;
}

.u-font-weight--normal {
  font-weight: normal;
}

.u-font-weight--bold {
  font-weight: bold;
}

// Text Alignment

.u-align--left {
  text-align: left;
}

.u-align--center {
  text-align: center;
}

.u-align--right {
  text-align: right;
}

.u-align--center--s {
  @media all and (max-width: $medium) {
    text-align: center;
  }
}

// Text Decorations

.u-text-decoration--none {
  text-decoration: none;
}

.u-text-decoration--underline {
  text-decoration: underline;
}

// Lists

.u-plain-horizontal-list {
  list-style: none;
}

.u-plain-horizontal-list li {
  display: inline-block;
  margin-right: var(--space-3);

  &:last-of-type {
    margin-right: 0;
  }
}

.u-plain-vertical-list {
  list-style: none;
}

.u-plain-vertical-list li {
  margin-bottom: var(--space-1);

  &:last-of-type {
    margin-bottom: 0;
  }
}
