// Headers

@mixin typeface($type, $size) {
  font-family: var(--font-family-#{$type});
  letter-spacing: var(--letter-spacing-#{$type});
  font-weight: var(--font-weight-#{$type});
  line-height: var(--line-height-#{$size});
  font-size: var(--font-size-#{$size});
}

// Text Transforms

.u-text-transform--upper {
  text-transform: uppercase;
}

.u-text-transform--lower {
  text-transform: lowercase;
}

.u-text-transform--capitalize {
  text-transform: capitalize;
}

// Text Styles

.u-text-style--italic {
  font-style: italic;
}

.u-font-weight--normal {
  font-weight: normal;
}

.u-font-weight--bold {
  font-weight: bold;
}

// Text Alignment

.u-align--left {
  text-align: left;
}

.u-align--center {
  text-align: center;
}

.u-align--right {
  text-align: right;
}

// Text Decorations

.u-text-decoration--none {
  text-decoration: none;
}

.u-text-decoration--underline {
  text-decoration: underline;
}
