@import "reset";
@import "breakpoints";
@import "colors";
@import "typography";
@import "settings";
@import "spacing";
@import "display";
@import "layout";
@import "accessibility";
@import "forms";

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body,
html {
  background-color: var(--color-background);
  font-size: var(--font-base);
  font-family: var(--font-family);
  color: var(--color-text);
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

iframe {
  border: 0;
}

a,
a:visited,
a:active {
  color: var(--color-link);
  text-decoration: var(--link-decoration);
  transition: var(--transition);

  &:hover {
    color: var(--color-link-hover);
    text-decoration: var(--link-decoration-hover);
    cursor: pointer;
  }
}

a svg {
  opacity: 1;
  transition: var(--transition);

  &:hover {
    opacity: var(--opacity-on-hover);
  }
}

hr {
  border: 0;
  margin: 0;
  height: var(--hr-height);
  background: var(--color-hr);
}
