.sbdocs-xsmall-container {
    margin: 3rem;
    max-width: 400px;
}

.sbdocs-small-container {
    margin: 3rem;
    max-width: 768px;
}

.sbdocs-medium-container {
    margin: 3rem;
    max-width: 1240px;
}

.sbdocs-large-container {
    margin: 3rem;
    max-width: 100%;
}

.colors > div {
    height: 100px;
    width: 250px;
    display: inline-block;
    margin: 0 1rem 1rem 0;
}

.colors > div span {
    padding: 10px;
    background: white;
}
